<div class="panel-body" id="comment-heading"><%= html_icon("comment") %> Add a Comments?</div>
<div class="panel-body" id="comments">
	<div class="panel-body" id="comments">
		<%= render 'comments/lists' %>
		<%= render 'comments/form' %>
	</div>
</div>
