<div class="panel-body">
	<p><%= link_to article.title, article_path(article) %>, created at <%= article.created_at.to_s(:long) %></p>
	<p><%= markdown(truncate(article.description, length: 50)) %></p>
</div>