<div class="panel-body" id="parse-article">
	<p><%= link_to article.title, article_path(article) %>, created <%= time_ago(article) %> ago.</p>
	<p><%= markdown(truncate(article.description, length: 50)) %>
	<%= link_to "Read more", article_path(article) %></p>
</div>