<% Article.order('created_at DESC').each.with_index do |article, index| %>
	<% if index + 1 > 10 %>
		<% break %>
	<% end %>

	<div class="panel-body">
		<p> 
			<span class="glyphicon glyphicon-hand-right"></span> <%= link_to article.title, article_path(article), :class => "custom" %> <br>
			created at <%= article.created_at.to_s(:long) %>
		</p>
	</div>
<% end %>
<%= link_to "View All Articles", articles_path, :class => "btn pull-right btn-index" %>