<div class="heading">
	<%= link_to back_button(nil), root_path, :class => "btn btn-custom btn-md pull-right" %>
	<% if admin_signed_in? %>
		<%= link_to new_button("Article"), new_article_path, :class => "btn btn-offset btn-custom btn-md pull-right" %>
	<% end %>
</div>

<div class="small-gap"></div>

<div class="col-md-offset-1 col-md-6" >
	<div class="row">
	<div class="col-md-offset-1 col-md-11">
		<div class="panel-heading panel-top-offset"><%= html_icon("file") %> Maxwell's Life Experience </div>
		<div class="panel-scrolling-huge" id="articles">
			<%= render @articles %>
		</div>
	</div>
	</div>
</div>