<div class="heading">
	<h1><span>Maxwell's Articles</span></h1>
</div>

<div class="small-gap"></div>

<div class="col-md-offset-1 col-md-6" >
	<div style="margin-left: 50px;">
		<div class="panel-heading">Articles</div>
		<% render @articles %>
	</div>
</div>