<div class="heading">
	<%= link_to back_button(nil), articles_path, :class => "btn btn-custom btn-md pull-right" %>
</div>

<div class="small-gap"></div>

<div class="col-md-offset-1 col-md-6" >
	<div style="margin-left: 50px;">
		<div class="panel-heading panel-top-offset"><%= html_icon("plus") %> New Record for Life Experience </div>
		<div class="panel-body panel-scrolling-huge">
			<%= render 'articles/form', article: @article %>
		</div>
	</div>
</div>