<div class="heading">
	<%= link_to "Back", articles_path, :class => "btn btn-custom btn-md pull-right" %>
	
	<h1><span><%= @article.title %></span></h1>
</div>

<div class="small-gap"></div>

<div class="col-md-offset-1 col-md-6" >
	<div style="margin-left: 50px;">
		<div class="panel-heading">Content</div>
		<div class="panel-body panel-scrolling-medium pre-tag-format"><%= markdown(@article.description) %></div>
		<div class="panel-body" id="comment-heading">Add a Comments?</div>
		<div class="panel-body panel-scrolling-small" id="comments">Here is where the comments goes</div>
	</div>

</div>