<div class="heading">
	<%= link_to back_button(nil), computer_science_path, :class => "btn btn-custom btn-md pull-right" %>
	<% if admin_signed_in? %>
		<%= link_to new_button("Discussion"), new_programming_basic_path, :class => "btn btn-offset btn-custom btn-md pull-right" %>
	<% end %>
</div>

<div class="small-gap"></div>

<div class="col-md-offset-1 col-md-6" >
	<div style="margin-left: 50px;">
		<div class="panel-heading panel-top-offset" id="programming-icon"><%= image_tag('programming-icon.png') %> Programming Basics</div>
		<div class="panel-scrolling-huge" id="programming_basics">
			<%= render @discussions %>
		</div>
	</div>
</div>