<img src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/12118651_1048870311798364_3621756173621373191_n.jpg?oh=3058274aa3c1c91308ad5a0125c246ec&oe=57276956" alt="author" style="max-width: 295px; margin: 0 auto;">	
<!-- <%= image_tag author.avatar.url, :style => "max-width: 295px; margin: 0 auto" %>
 -->
<p style="margin-top: 10px;"><%= markdown(author.about) %></p>
