<div class="panel-body ruby-lang-logo">
	<%= image_tag('ruby.png') %> <%= link_to "Ruby Language", ruby_discussions_path, :class => "custom" %>
</div>
<div class="panel-body rails-logo">
	<%= image_tag('rubyonrails.png') %> <%= link_to "Ruby on Rails", rails_discussions_path, :class => "custom" %>
</div>
