<div class="heading">
	<h1><span>Maxwell's Home</span></h1>
</div>

<div class="small-gap"></div>

<div class="row">
	
	<div class="col-md-offset-2 col-md-2">
		<div class="panel">
			<div class="panel-heading">About Me</div>
			<div class="panel-body panel-scrolling-big">This is panel body</div>
		</div>
	</div>
	
	<div class="col-md-2">
		<div class="panel">
			<div class="panel-heading">Articles Update</div>
			<div class="panel-body panel-scrolling-big">This is panel body</div>
		</div>
	</div>

	<div class="col-md-2">
		<div class="panel">
			<div class="panel-heading">Photos &amp Artworks Update </div>
			<div class="panel-body panel-scrolling-big">This is panel body</div>
		</div>
	</div>

	<div class="col-md-2">
		<div class="panel">
			<div class="panel-heading">Contact Me?</div>
			<div class="panel-body panel-scrolling-big">This is panel body</div>
		</div>
	</div>

</div>