<div class="panel-body" id="parse-photo">
	<p><%= image_tag photo.image_file.url %></p>
	<p><%= link_to photo.title, photo_path(photo) %>, created <%= time_ago(photo) %> ago.</p>
	<p><%= markdown(truncate(photo.description, length: 50)) %></p>
</div>