<% Photo.order('created_at DESC').each.with_index do |photo, index| %>
	<% if index + 1 > 5 %>
		<% break %>
	<% end %>

	<div class="panel-body">
		<p> 
			<span class="glyphicon glyphicon-bookmark"></span> <%= link_to photo.title, photo_path(photo), :class => "custom" %> <br>
			created at <%= photo.created_at.to_s(:long) %>
		</p>
		<%= image_tag photo.image_file.url, :style => "max-width: 270px; margin: 0 auto; display: block" %>
	</div>
<% end %>
<%= link_to "View All Articles", articles_path, :class => "btn pull-right btn-index" %>