<div class="heading">
	<%= link_to "Back", photos_path, :class => "btn btn-custom btn-md pull-right" %>
	<h1><span>Edit Photo or Artwork</span></h1>
</div>

<div class="small-gap"></div>

<div class="col-md-offset-1 col-md-6" >
	<div style="margin-left: 50px;">
		<div class="panel-heading">Edit Photo or Artwork</div>
		<div class="panel-body panel-scrolling-big">
			<%= render 'photos/form', photo: @photo %>
		</div>
	</div>
</div>