/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

$origin: 								rgb(0,140,244);
$light: 								rgb(93,177,240);
$dark:									rgb(0,90,194);

$origin-alpha-light: 		rgba(0,140,244,0.5);
$origin-alpha-strong: 	rgba(0,140,244,0.8);
$light-alpha-light: 		rgba(93,177,240,0.5);
$light-alpha-strong: 		rgba(93,177,240,0.8);
$dark-alpha-light: 			rgba(0,90,194, 0.5);
$dark-alpha-strong:			rgba(0,90,194,0.8);

$tansparent: rgba(0,0,0,0);

body {

	margin: 0;
	font-family: Helvetica;

/* Heading */

	div.heading {
		display: block;
		color: $origin;
		font-variant: small-caps;
		
		h1 {
			margin: 20px 50px;
			padding: 5px;
			text-align: center;
		}

		h1 span:hover {
			color: $light;
		}
	}

/* Optional */

	div.small-gap {
		margin-bottom: 75px;
	}

/* Panel */

	div.panel-heading, div.panel-body {
		color: white;
	}

	div.panel-heading {
		background-color: $origin-alpha-strong;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	div.panel-heading:hover {
		background-color: $origin-alpha-light;
	}

	div.panel-body {
		background-color: $light-alpha-strong;
	}

	div.panel-body:hover {
		background-color: $light-alpha-light;
	}
}


























