<div class="navbar-custom">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/" class="navbar-home"><span class="glyphicon glyphicon-star"></span> Maxwell</a>
		</div>
	</div>
</div>