<div class="navbar-custom">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/" class="navbar-home"><span class="glyphicon glyphicon-star"></span> Maxwell</a>
		</div>
		
		<div class="navbar-right">
			<ul>
				<li><%= link_to "Articles", "#" %></li>
				<li><%= link_to "Photos & Artworks", "#" %></li>
				<li><%= link_to "Home", root_path %></li>
			</ul>
		</div>
	</div>
</div>